<div>
  <h1>Contact Information</h1>
    <div>
      <ul>
        <li>First Name: <%= @contact.first_name %></li>
        <li>Last Name: <%= @contact.last_name %></li>
        <li>phone_number: <%= @contact.phone_number %> </li>
        <span><a href='/'>Back</a></span>
      </ul>
    </div>
</div>
